// vim:ft=templ
package user

import (
	"github.com/UnikMask/gofeedsite/view/layout"
	"github.com/UnikMask/gofeedsite/view/components"
	"github.com/UnikMask/gofeedsite/model"
)

templ Show(user model.User) {
	<h1>
		{ ctx.Value("user").(string) }
	</h1>
	@layout.Base() {
		<h1 class="font-bold text-xl">Hello { user.Email } from the userpage!!</h1>
		@components.Input("email", "email", "Email", true)
	}
}
