package mainpage

import "github.com/UnikMask/gofeedsite/view/layout"

templ MainPage() {
	@layout.Base() {
		<div class="text-3xl font-bold text-center mt-80">
			Welcome to this basic feed app!!
		</div>
	}
}
