package layout

import "github.com/UnikMask/gofeedsite/view/components"

templ FeedPage() {
	@Base() {
		@components.PostStyles()
        @components.FeedStyle()
		@components.TopNav()
		<div class="h-full flex flex-row justify-center">
			<div class="flex flex-col gap-8 mt-20">
				@components.FeedPageLoader(1)
			</div>
		</div>
	}
}
